@model MvcDentista.Models.ApellidoPacienteViewModel

@{
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes[0].Nombre)
            </th>
            <th>
                <div>idPaciente</div>
            </th>
             <th>
                <div>fecha</div>
            </th>
             <th>
                <div>hora</div>
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    
</table>
